html 
    head 
        style
body 
    h1 Real-Time Salinity Monitor 

    div
        | Current Salinity: 
        span#current-salinity #{current_salinity} PSU

    div
        | Desired Salinity: 
        span#desired-salinity 0 PSU

    div
        label Enter Desired Salinity (PSU):
        input#input(type="number", step="0.01")
        button(type="button", onclick="clickButton()") Set Desired Salinity

    script(type="text/javascript", src="client.js")